---
import type { Character } from "../../models/api.model";
import StatusSpecie from "./StatusSpecie.astro";

interface Props {
    character: Character;
}

const { character } = Astro.props;
---

<style>
    .card {
        display: grid;
        grid-template-columns: 2fr 3fr;
        gap: 1rem;
        background-color: var(--color-light-transparent);
        min-height: 200px;
        border-radius: 0.5rem;
        overflow: hidden;
        box-shadow: 0 0 10px var(--color-light-transparent);
        transition: box-shadow 0.3s;

        &:hover {
            box-shadow: 0 0 10px var(--color-green-rm);
        }

        > .img {
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
        }

        > .details {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 1rem;
            padding-block: 1rem;

            > .name {
                font-size: 2rem;
            }

            > *:not(.location) {
                font-weight: bold;
            }
        }
    }
</style>
<article class="card">
    <section class="img" style={`background-image: url(${character.image});`}></section>
    <section class="details">
        <article class="name">{character.name}</article>
        <StatusSpecie status={character.status} species={character.species} />
        <article class="location">
            <span>Last known location:</span>
            <span>{character.location.name}</span>
        </article>
    </section>
</article>
